.ChangeNotice__tab .ChangeNotice__title {
  font-size: 24px;
  color: #647dff; }

.ChangeNotice__tab .ChangeNotice__label {
  font-size: 15px;
  font-weight: normal;
  color: #869ab7;
  margin: 50px 0 10px 0; }

.ChangeNotice__tab .ChangeNotice__input {
  width: 220px;
  height: 46px;
  background-color: #ffffff;
  border: solid 1px #dce2eb;
  padding-left: 10px; }

.ChangeNotice__tab .ChangeNotice__body {
  width: 600px;
  height: 150px;
  background-color: #ffffff;
  border: solid 1px #dce2eb;
  padding-left: 10px;
  resize: none; }

.ChangeNotice__btn {
  text-align: center; }
  .ChangeNotice__btn .ChangeNotice__button1 {
    display: inline-block;
    margin-top: 45px;
    width: 160px;
    height: 50px;
    line-height: 60px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    color: #ffffff;
    background-color: #647dff;
    border: solid 1px #647dff;
    margin-right: 10px; }
  .ChangeNotice__btn .ChangeNotice__button2 {
    display: inline-block;
    margin-top: 45px;
    width: 160px;
    height: 50px;
    line-height: 60px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    color: #ffffff;
    background-color: #647dff;
    border: solid 1px #647dff;
    margin-right: 10px; }
