.uploadBanner__tab {
  padding: 80px 160px; }
  .uploadBanner__tab .uploadBanner__title {
    font-size: 24px;
    color: #647dff; }
  .uploadBanner__tab .uploadBanner__label {
    font-size: 15px;
    font-weight: normal;
    color: #869ab7;
    margin: 60px 0 10px 0; }
  .uploadBanner__tab .uploadBanner__input {
    width: 220px;
    height: 46px;
    background-color: #ffffff;
    border: solid 1px #dce2eb;
    padding-left: 10px; }
  .uploadBanner__tab .uploadBanner__dropdown {
    width: 220px;
    height: 46px;
    background-color: #ffffff;
    border: solid 1px #dce2eb;
    padding-left: 10px; }
  .uploadBanner__tab .uploadBanner__button {
    margin-top: 30px;
    text-align: center; }
    .uploadBanner__tab .uploadBanner__button .uploadBanner__btn {
      width: 160px;
      height: 50px;
      border-radius: 2px;
      background-color: #647dff;
      border: solid 1px #647dff;
      margin-top: 10px;
      margin-left: 40px; }
