.skin__category {
  width: 1200px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  margin: 25px auto 40px auto;
  padding: 0 10px; }
  .skin__category h2 {
    float: left;
    font-size: 30px;
    font-weight: normal; }
  .skin__category p {
    float: right;
    font-size: 20px;
    font-weight: 300; }
  .skin__category::after {
    display: block;
    content: '';
    clear: both; }

.subNav__wrapper {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  padding-left: 10px; }
  .subNav__wrapper .subNav {
    float: left; }
    .subNav__wrapper .subNav .subNav__li {
      display: inline-block;
      margin-right: 40px;
      font-size: 15px; }
      .subNav__wrapper .subNav .subNav__li li {
        color: lightgray; }
    .subNav__wrapper .subNav .subNav__li--selected li {
      color: #647dff; }
  .subNav__wrapper::after {
    display: block;
    content: '';
    clear: both; }
