.signupEnd {
  width: 1440px;
  height: 720px;
  background-color: #ffffff;
  margin: 0 auto;

  .signupEnd__logo {
    width: 160px;
    height: 64px;
    margin-top: 195px;
    margin-left: 640px;
  }

  .signupEnd__tab {
    padding: 30px 60px;
    text-align: center;

    .signupEnd__label {
      font-size: 30px;
      font-weight: normal;
      color: #869ab7;
      margin-bottom: 15px;
    }

    .signupEnd__label2 {
      font-size: 16px;
      font-weight: normal;
      color: #869ab7;
    }
  }

  .signupEnd__button {
    display: inline-block;
    margin: 60px 0 0 655px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    background-color: #647dff;
    border: solid 1px #647dff;

  }
}