.userAgrees {
  width: 1440px;
  height: 1100px;
  background-color: #ffffff;
  margin: 0 auto;

  .userAgrees__tab {
    width: 627px;
    height: 1100;
    margin: 0 auto;
    margin-top: 130px;

    .userAgrees__title {
      font-size: 30px;
      font-weight: bold;
      color: #647dff;
      margin-left: 200px;
      margin-bottom: 100px;
    }

    .userAgrees__numbering {
      font-size: 16px;
      font-weight: bold;
      margin-top: 60px;
      margin-bottom: 20px;
      color: #647dff;
    }

    .userAgrees__content {
      font-size: 16px;
      font-weight: normal;
      color: #869ab7;
      margin-top: 20px;
      line-height: 1.4;
    }

    .userAgrees__end {
      font-size: 16px;
      font-weight: normal;
      color: #869ab7;
      margin-top: 50px;
      line-height: 1.0;
    }

    .userAgrees__btn {
      margin-top: 30px;
      text-align: center;
    }

    .userAgrees__button {
      width: 160px;
      height: 50px;
      font-size: 15px;
      border-radius: 2px;
      background-color: #647dff;
      border: solid 1px #647dff;
      margin-top: 40px;
      color: white;

      .userAgrees__btntext {
        color: white;
      }
    }

    .userAgrees__alert {
      color: #ff8282;
      font-size: 15px;
      margin-bottom: 5px;
    }
  }
}