.servicePartner__tab {
  
  .servicePartner__title {
    font-size: 24px;
    color: #647dff;
  }

  .servicePartner__label {
    font-size: 15px;
    font-weight: normal;
    color: #869ab7;
    margin: 60px 0 10px 0;
  }

  .servicePartner__input {
    width: 260px;
    height: 46px;
    background-color: #ffffff;
    border: solid 1px #dce2eb;
    padding-left: 10px;
  }

  .servicePartner__biginput {
    width: 600px;
    height: 150px;
    background-color: #ffffff;
    border: solid 1px #dce2eb;
    padding-left: 10px;
  }
}

.servicePartner__button {
  display: inline-block;
  margin-top: 45px;
  width: 180px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  background-color: #647dff;
  border: solid 1px #647dff;

  &:last-child {
    margin-right: 0;
  }

  .servicePartner__button--selected {
    font-weight: bold;
        color: #647dff;
  }
}