.beauty__category {
    width: 1200px;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    margin: 25px auto 40px auto;
    padding: 0 10px;

    h2 {
      float: left;
      padding-left: 10px;
      font-size: 30px;
      font-weight: normal;
    }

    p {
      float: right;
      font-size: 20px;
      font-weight: 300;
    }

    &::after {
      display: block;
      content: '';
      clear: both;
  }
}

.subNav__wrapper{
  width: 1200px;
  height: 40px;

  margin: 0 auto;
  padding-left: 10px;

  .subNav {
    float: left;

    .subNav__li {
      display: inline-block;
      margin-right: 40px;
      font-size: 15px;

      li {
        color: lightgray;
      }
    }

    .subNav__li--selected {
      li {
        color: #647dff;
      }
    }
  }

  &::after {
    display: block;
    content: '';
    clear: both;
  }
}
