.changeInfo {
  width: 1200px;
  height: 1440px;
  background-color: #ffffff;
  margin: 0 auto; }
  .changeInfo .changeInfo__tab .changeInfo__label {
    font-size: 15px;
    font-weight: normal;
    color: #869ab7;
    margin: 50px 0 10px 0; }
  .changeInfo .changeInfo__tab .changeInfo__input {
    width: 220px;
    height: 46px;
    background-color: #ffffff;
    border: solid 1px #dce2eb;
    padding-left: 10px; }
  .changeInfo .changeInfo__tab .changeInfo__box {
    width: 1100px;
    height: 130px; }
    .changeInfo .changeInfo__tab .changeInfo__box .changeInfo__box3 {
      display: inline-block;
      width: 260px;
      height: 100px; }
    .changeInfo .changeInfo__tab .changeInfo__box .changeInfo__box4 {
      display: inline-block;
      width: 500px;
      height: 100px;
      vertical-align: top; }
      .changeInfo .changeInfo__tab .changeInfo__box .changeInfo__box4 .changeInfo__gender {
        margin-bottom: 30px; }
      .changeInfo .changeInfo__tab .changeInfo__box .changeInfo__box4 .changeInfo__labelText {
        margin-right: 20px;
        font-size: 15px;
        font-weight: 300;
        color: #414d6b; }
  .changeInfo .changeInfo__tab .changeInfo__box1 {
    width: 120px;
    height: 50px;
    padding-left: 15px;
    background-color: #ffffff;
    border: solid 1px #dce2eb;
    border-radius: 0;
    -webkit-appearance: none;
    color: #afc2db; }
  .changeInfo .changeInfo__tab .changeInfo__box2 {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    padding-left: 15px;
    background-color: #ffffff;
    border: solid 1px #dce2eb;
    border-radius: 0;
    -webkit-appearance: none;
    color: #afc2db; }
  .changeInfo .changeInfo__tab .changeInfo__checkboxWrapper {
    display: inline-block;
    width: 130px;
    height: 20px;
    margin-bottom: 10px; }
    .changeInfo .changeInfo__tab .changeInfo__checkboxWrapper .changeInfo__text {
      font-size: 15px;
      font-weight: 300;
      color: #414d6b; }
  .changeInfo .changeInfo__tab .changeInfo__hr {
    width: 1180px;
    height: 1px;
    background-color: #dce2eb;
    margin: 40px auto;
    text-align: center; }
  .changeInfo .changeInfo__tab .changeInfo__info {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #869ab7; }
  .changeInfo .changeInfo__tab .changeInfo__btn {
    margin-top: 30px;
    text-align: center; }
  .changeInfo .changeInfo__tab .changeInfo__button {
    width: 160px;
    height: 50px;
    font-size: 15px;
    border-radius: 2px;
    background-color: #647dff;
    border: solid 1px #647dff;
    margin-top: 10px;
    color: white; }
    .changeInfo .changeInfo__tab .changeInfo__button .changeInfo__btntext {
      color: white; }
  .changeInfo .changeInfo__tab .signup__alert {
    color: #ff8282;
    font-size: 15px;
    margin-bottom: 5px; }
