.changeInfo {
  width: 1200px;
  height: 1200px;
  background-color: #ffffff;
  margin: 0 auto; }
  .changeInfo .signup__title {
    font-size: 30px;
    font-weight: bold;
    color: #647dff; }
  .changeInfo .signup__tab {
    padding-top: 20px; }
    .changeInfo .signup__tab .privacy__title {
      font-size: 24px;
      color: #647dff; }
    .changeInfo .signup__tab .signup__label {
      font-size: 15px;
      font-weight: normal;
      color: #869ab7;
      margin: 60px 0 10px 0; }
    .changeInfo .signup__tab .signup__input {
      width: 220px;
      height: 46px;
      background-color: #ffffff;
      border: solid 1px #dce2eb;
      padding-left: 10px; }
    .changeInfo .signup__tab .signup__box {
      width: 1100px;
      height: 130px; }
      .changeInfo .signup__tab .signup__box .signup__box3 {
        display: inline-block;
        width: 260px;
        height: 100px; }
      .changeInfo .signup__tab .signup__box .signup__box4 {
        display: inline-block;
        width: 500px;
        height: 100px;
        vertical-align: top; }
        .changeInfo .signup__tab .signup__box .signup__box4 .signup__gender {
          margin-bottom: 30px; }
        .changeInfo .signup__tab .signup__box .signup__box4 .signup__labelText {
          margin-right: 20px;
          font-size: 15px;
          font-weight: 300;
          color: #414d6b; }
    .changeInfo .signup__tab .signup__box1 {
      width: 120px;
      height: 50px;
      padding-left: 15px;
      background-color: #ffffff;
      border: solid 1px #dce2eb;
      border-radius: 0;
      -webkit-appearance: none;
      color: #afc2db; }
    .changeInfo .signup__tab .signup__box2 {
      width: 100px;
      height: 50px;
      margin-left: 10px;
      padding-left: 15px;
      background-color: #ffffff;
      border: solid 1px #dce2eb;
      border-radius: 0;
      -webkit-appearance: none;
      color: #afc2db; }
    .changeInfo .signup__tab .signup__checkboxWrapper {
      display: inline-block;
      width: 130px;
      height: 20px;
      margin-bottom: 10px; }
      .changeInfo .signup__tab .signup__checkboxWrapper .signup__text {
        font-size: 15px;
        font-weight: 300;
        color: #414d6b; }
    .changeInfo .signup__tab .signup__hr {
      width: 1180px;
      height: 1px;
      background-color: #dce2eb;
      margin: 40px auto;
      text-align: center; }
    .changeInfo .signup__tab .signup__info {
      font-size: 15px;
      font-weight: 300;
      text-align: center;
      color: #414d6b; }
    .changeInfo .signup__tab .signup__btn {
      margin-top: 30px;
      text-align: center; }
    .changeInfo .signup__tab .signup__button {
      width: 160px;
      height: 50px;
      border-radius: 2px;
      background-color: #4cc8e5;
      border: solid 1px #4cc8e5;
      margin-top: 10px; }
      .changeInfo .signup__tab .signup__button .signup__btntext {
        color: white; }
