.myPageMenu {
  width: 1200px;
  height: 250px;
  color: #414d6b; }
  .myPageMenu::after {
    display: block;
    content: '';
    clear: both; }
  .myPageMenu .myPageMenu__wrapper {
    float: left; }
  .myPageMenu .myPageMenu__name {
    font-size: 40px;
    font-weight: bold;
    color: #414d6b;
    margin-top: 80px; }
  .myPageMenu .myPageMenu__tab {
    display: inline-block;
    width: 1200px;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    margin-top: 40px; }
    .myPageMenu .myPageMenu__tab .myPageMenu__button {
      font-size: 20px;
      margin-right: 40px;
      color: #414d6b; }
    .myPageMenu .myPageMenu__tab .myPageMenu__button--selected {
      font-weight: bold;
      color: #647dff; }
