.empty {
  width: 1200px;
  height: 200px;
  line-height: 200px;
  vertical-align: middle;
  text-align: center;
  p {
    font-size: 50px;
  }
}
.customerInfo {
  height: auto;
}
.customerInfo__table {
  width: 1200px;
  text-align: left;
  font-size: 10px;

  tr {
    border: solid 1px #dce2eb;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    th {
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
      padding-left: 20px;
      font-size: 12px;
      font-weight: normal;
      color: #afc2db;
      background-color: #f7f8fb;
    }
  }

  td {
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 15px;
    color: #495057;
  }

  .customerInfo__delete {
    border: 0px;
    padding-left: 0px;
    vertical-align: middle; 

    .customerInfo__trash {
      width: 30px;
      height: 30px;
    }
  }
}
