.serviceFaq__title {
  font-size: 24px;
  color: #647dff; }

.serviceFaq__table {
  width: 1200px;
  text-align: left;
  font-size: 10px;
  margin: 60px 0 10px 0; }
  .serviceFaq__table span {
    color: #48c0e0;
    font-weight: bold; }
  .serviceFaq__table tr {
    border: solid 1px #dce2eb;
    height: 20px;
    line-height: 20px;
    vertical-align: middle; }
    .serviceFaq__table tr th {
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
      padding-left: 20px;
      font-size: 12px;
      font-weight: normal;
      color: #afc2db;
      background-color: #f7f8fb; }
  .serviceFaq__table td {
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 15px;
    color: #495057; }
  .serviceFaq__table p {
    line-height: 27px; }
  .serviceFaq__table .serviceFaq__q {
    width: 50px;
    font-weight: bold;
    color: #647dff; }
  .serviceFaq__table .serviceFaq__a {
    font-weight: bold;
    color: #48c0e0;
    background-color: #f7f8fb; }
  .serviceFaq__table .serviceFaq__answer {
    color: #869ab7;
    background-color: #f7f8fb; }
  .serviceFaq__table .serviceFaq__answerBack {
    background-color: #f7f8fb; }
