.serviceMenu {
  width: 1200px;
  height: 50px;
  color: #414d6b; }
  .serviceMenu::after {
    display: block;
    content: '';
    clear: both; }
  .serviceMenu .serviceMenu__wrapper {
    float: left; }
  .serviceMenu .serviceMenu__name {
    font-size: 40px;
    font-weight: bold;
    color: #414d6b;
    margin-top: 80px; }
  .serviceMenu .serviceMenu__tab {
    display: inline-block;
    width: 1200px;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    margin-top: 40px; }
    .serviceMenu .serviceMenu__tab .serviceMenu__button {
      font-size: 20px;
      margin-right: 40px;
      color: #414d6b; }
    .serviceMenu .serviceMenu__tab .serviceMenu__button--selected {
      font-weight: bold;
      color: #647dff; }
