.header {
  width: 1200px;
  height: 80px;
  margin: 0 auto;

  .header__left {
    float: left;

    .header__home {
      display: inline-block;
      padding: 18px 0;
      .header__logo {
        width: 110px;
        height: 40px;
      }
    }
  }

  .search {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    margin-left: 300px;

    .search__filter {
      width: 80px;
      height: 30px;
      padding-left: 15px;
      background-color: #ffffff;
      border: solid 1px #dce2eb;

    }

    .search__input {
      width: 200px;
      height: 29px;
      margin-left: 5px;
      padding-left: 15px;
      padding-bottom: 3px;
      background-color: #ffffff;
      border: solid 1px #dce2eb;
      border-radius: 2px;
    }
  }
  .header__right {
    float: right;

    .header__link {
      margin-right: 40px;
      line-height: 80px;
      vertical-align: middle;
      font-size: 15px;
      color: #414d6b;

      &:last-child {
        margin-right: 0;
      }
    }

    .header__link--selected {
      color: #647dff;
      font-weight: bold;
    }
  }

  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
