.login {
  width: 1440px;
  height: 720px;
  background-color: #647dff;
  margin: 0 auto;

  .login__logo {
    width: 200px;
    height: 64px;
    margin-top: 100px;
    margin-left: 620px;
  }

  .login__wrapper {
    width: 360px;
    height: 440px;
    background-color: #ffffff;
    box-shadow: 0 20px 20px 0 rgba(65, 77, 107, 0.3);
    margin: 0 auto;
    margin-top: 40px;

    .login__tab {
      padding: 40px 60px;

      .login__label {
        font-size: 15px;
        font-weight: normal;
        color: #869ab7;
        margin-top: 10px;
      }

      .login__input {
        width: 230px;
        height: 50px;
        background-color: #ffffff;
        border: solid 1px #dce2eb;
        margin: 10px 0 20px 0;
        padding-left: 10px;
      }

      .login__btn {
        width: 160px;
        height: 50px;
        font-size: 15px;
        border-radius: 2px;
        background-color: #647dff;
        border: solid 1px #647dff;
        margin-top: 28px;
        margin-left: 40px;
        color: #ffffff;
      }

      .social__button {
        margin: 30px 0 0 50px;

        .social__google {
          width: 45px;
          margin-left: 18px;
          background-image: url('../../../assets/img/google.png');
          background-repeat: no-repeat;
        }

        .social__kakao {
          width: 45px;
          margin-left: 18px;
          background-image: url('../../../assets/img/kakao.png');
          background-repeat: no-repeat;
        }
      }
    }
  }
}