.notFound {
  width: 1440px;
  height: 720px;
  background-color: #ffffff;
  margin: 0 auto;

  .notFound__logo {
    width: 160px;
    height: 64px;
    margin-top: 300px;
    margin-left: 620px;
  }

  .notFound__tab {
    padding: 40px 60px;
    margin-left: 490px;

    .notFound__label {
      font-size: 20px;
      font-weight: normal;
      color: #869ab7;
      margin-bottom: 10px;
    }

    .notFound__label2 {
      font-size: 16px;
      font-weight: normal;
      color: #869ab7;
    }

    .notFound__btn {
      float: right;
      background-color: #647dff;
      border: solid 1px #647dff;

      .notFound__button {
      
      }
    }
  }
}