.productEntry {
  display: inline-block;
  width: 277px;
  height: 480px;
  margin: 0 10px 20px 10px;
  border: solid 1px #dce2eb;
  vertical-align: bottom;

  .productEntry__link {
    width: 278px;
    height: 278px;

    .productEntry__img {
      width: 278px;
      height: 278px;
    }
  }

  .productEntry__text {
    padding: 20px;

    .productEntry__hospital {
      margin-bottom: 20px;
      font-size: 15px;
      color: #647dff;
    }

    .productEntry__title {

      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      color: #414d6b;
    }

    .productEntry__description {
      font-size: 15px;
      color: #414d6b;
    }

    .productEntry__sales {
      margin-top: 50px;

      .productEntry__purchased {
        float: left;
        margin-top: 10px;
        color: #414d6b;
        font-size: 20px;
        font-weight: bold;
        span {
          color: #647dff;
        }
      }

      .productEntry__price {
        float: right;
        font-size: 30px;
        font-weight: bold;
        text-align: right;
        color: #647dff;
      }

      &::after {
        display: block;
        content: '';
        clear: both;
      }
    }
  }
}