.productEntry {
  display: inline-block;
  width: 280px;
  height: 480px;
  margin: 0 10px 20px 10px;
  border: solid 1px #dce2eb;
  vertical-align: bottom;
  overflow: hidden;

  .productEntry__link {
    display: inline-block;
    width: 278px;
    height: 478px;

    .productEntry__cover {
      display: inline-block;
      width: 278px;
      height: 278px;
      overflow: hidden;
    }
    .productEntry__img {
      width: 278px;
      height: 278px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

  .productEntry__text {
    padding: 20px;

    .productEntry__hospital {
      margin-bottom: 20px;
      font-size: 15px;
      color: #647dff;
    }

    .productEntry__title {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      color: #414d6b;
    }

    .productEntry__description {
      height: 30px;
      font-size: 12px;
      font-weight: normal;
      color: #414d6b;
    }

    .productEntry__sales {
      margin-top: 35px;

      .productEntry__purchased {
        float: left;
        margin-top: 10px;
        color: #414d6b;
        font-size: 20px;
        font-weight: bold;
        span {
          color: #647dff;
        }
      }

      .productEntry__price {
        float: right;
        font-size: 30px;
        font-weight: bold;
        text-align: right;
        color: #647dff;
      }

      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }
  }
}
