.productInfo {
  width: 1180px;
  margin: 0 auto;
  .productInfo__btnWrapper {
    border-bottom: 2px solid #dce2eb;
    margin-bottom: 20px;

    .productInfo__btn {
      display: inline-block;
      height: 100px;
      margin-right: 40px;
      font-size: 20px;
      background: #fff;
      border: none;
    }
  }

  p {
    font-size: 17px;
    font-weight: normal;
    color: #869ab7;
    margin: 60px 0 10px 0;
    line-height: 0;
  }
}
