.productDetail {
  width: 1200px;
  height: auto;
  margin: 0 auto;

  .productDetail__category {
    margin: 0, 120px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 20px;
    color: #647dff;
  }

  .productDetail__info {
    width: 1200px;
    height: 520px;

    // vertical-align: middle;

    .productDetail__img {
      padding-top: 20px;
      padding-left: 10px;
      // margin: 10px;
      img {
        width: 480px;
        height: 480px;
      }
    }

    .productDetail__text {
      display: inline-block;
      width: 500px;
      height: 400px;
      margin-left: 60px;

      .productDetail__hospital {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 16px;
        color: #647dff;
      }
      .productDetail__title {
        margin-top: 15px;
        margin-bottom: 13px;
        font-size: 36px;
        font-weight: bold;
        color: #414d6b;
      }
      .productDetail__description {
        font-size: 18px;
        color: #414d6b;
      }
      .productDetail__sales {
        margin-top: 70px;

        .productDetail__price {
          float: left;
          font-size: 36px;
          font-weight: bold;
          text-align: right;
          margin-right: 10px;
          color: #647dff;
        }

        .productDetail__purchased {
          float: left;
          margin-top: 10px;
          color: #414d6b;
          font-size: 20px;
          font-weight: bold;
          margin-top: 17px;
          span {
            color: #647dff;
          }
        }
        &::after {
          display: block;
          content: "";
          clear: both;
        }
      }
      .productDetail__divider {
        margin-top: 35px;
        width: 640px;
        height: 1px;
        border: 0.3px solid #dce2eb;
      }
      .productDetail__option {
<<<<<<< HEAD
        margin-top: 85px;
        width: 220px;
        height: 50px;
        padding-left: 15px;
        background-color: #ffffff;
        border: solid 1px #dce2eb;
        border-radius: 0;
        color: #afc2db;
=======
        width: auto;
        height: 30px;
        margin-top: 20px;
        font-size: 15px;
        font-weight: 300;
        text-align: left;
        padding: 0 15px;
        background-color: #ffffff;
        border: solid 1px #dce2eb;
        border-radius: 0px;
        -webkit-appearance: none;
>>>>>>> 00205571e89fcac3c48a162a15a6ac9644eb86b0
      }

      .productDetail__btnWrapper {
        margin-top: 30px;

        .productDetail__reserveBtn {
          display: inline-block;
          width: 160px;
          height: 48px;
          line-height: 48px;
          vertical-align: middle;
          background-color: #647dff;
          border: solid 1px #647dff;
          color: white;
          font-size: 15px;
          text-align: center;
        }
        .productDetail__likeBtn {
          width: 50px;
          height: 50px;
          margin-left: 10px;
          border: solid 1px #647dff;
          color: #647dff;
          background-color: #ffffff;
          text-align: center;
        }
      }
    }
  }
}
