.productReserve {
  border: 1px solid #dce2eb;
  margin-top: 10px;
  padding: 10px;
  height: 210px;

  .left {
    float: left;
    .productReserve__label {
      padding-bottom: 10px;
      font-size: 15px;
    }

    .productReserve__input {
      width: 150px;
      height: 30px;
      background-color: #ffffff;
      border: solid 1px #dce2eb;
      padding-left: 10px;
      margin-bottom: 15px;
    }
    .setTime__wrapper {
      span {
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        padding-right: 5px;
      }
      .setTime__button {
        width: 30px;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        font-size: 10px;
        font-weight: 300;
        text-align: center;
        padding-left: 8px;
        margin-right: 5px;
        background-color: #ffffff;
        border: solid 1px #dce2eb;
        border-radius: 0px;
        -webkit-appearance: none;
      }
    }
  }
  .right {
    float: right;
    padding-top: 70px;
    padding-right: 10px;
    button {
      width: 100px;
      height: 40px;
      margin: 0 10px;
      border: 1px solid #647dff;
      color: white;
      background-color: #647dff;
    }
  }

  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
