.privacy {
  width: 1440px;
  height: 1380px;
  background-color: #647dff;
  margin: 0 auto;
  padding-top: 100px; }
  .privacy .signup__title {
    font-size: 30px;
    font-weight: bold;
    color: #647dff; }
  .privacy .signup__wrapper {
    width: 1180px;
    height: 1180px;
    background-color: #ffffff;
    box-shadow: 0 20px 20px 0 rgba(65, 77, 107, 0.3);
    margin: 0 auto; }
    .privacy .signup__wrapper .signup__tab {
      padding: 80px 160px; }
      .privacy .signup__wrapper .signup__tab .privacy__title {
        font-size: 24px;
        color: #647dff; }
      .privacy .signup__wrapper .signup__tab .signup__label {
        font-size: 15px;
        font-weight: normal;
        color: #869ab7;
        margin: 60px 0 10px 0; }
      .privacy .signup__wrapper .signup__tab .signup__input {
        width: 220px;
        height: 46px;
        background-color: #ffffff;
        border: solid 1px #dce2eb;
        padding-left: 10px; }
      .privacy .signup__wrapper .signup__tab .signup__box {
        width: 1100px;
        height: 130px; }
        .privacy .signup__wrapper .signup__tab .signup__box .signup__box3 {
          display: inline-block;
          width: 260px;
          height: 100px; }
        .privacy .signup__wrapper .signup__tab .signup__box .signup__box4 {
          display: inline-block;
          width: 500px;
          height: 100px;
          vertical-align: top; }
          .privacy .signup__wrapper .signup__tab .signup__box .signup__box4 .signup__gender {
            margin-bottom: 30px; }
          .privacy .signup__wrapper .signup__tab .signup__box .signup__box4 .signup__labelText {
            margin-right: 20px;
            font-size: 15px;
            font-weight: 300;
            color: #414d6b; }
      .privacy .signup__wrapper .signup__tab .signup__box1 {
        width: 120px;
        height: 50px;
        padding-left: 15px;
        background-color: #ffffff;
        border: solid 1px #dce2eb;
        border-radius: 0;
        -webkit-appearance: none;
        color: #afc2db; }
      .privacy .signup__wrapper .signup__tab .signup__box2 {
        width: 100px;
        height: 50px;
        margin-left: 10px;
        padding-left: 15px;
        background-color: #ffffff;
        border: solid 1px #dce2eb;
        border-radius: 0;
        -webkit-appearance: none;
        color: #afc2db; }
      .privacy .signup__wrapper .signup__tab .signup__checkboxWrapper {
        display: inline-block;
        width: 130px;
        height: 20px;
        margin-bottom: 10px; }
        .privacy .signup__wrapper .signup__tab .signup__checkboxWrapper .signup__text {
          font-size: 15px;
          font-weight: 300;
          color: #414d6b; }
      .privacy .signup__wrapper .signup__tab .signup__hr {
        width: 860px;
        height: 1px;
        background-color: #dce2eb;
        margin: 40px auto;
        text-align: center; }
      .privacy .signup__wrapper .signup__tab .signup__info {
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        color: #414d6b; }
      .privacy .signup__wrapper .signup__tab .signup__btn {
        margin-top: 30px;
        text-align: center; }
      .privacy .signup__wrapper .signup__tab .signup__button {
        width: 160px;
        height: 50px;
        border-radius: 2px;
        background-color: #647dff;
        border: solid 1px #647dff;
        margin-top: 10px;
        color: white; }
      .privacy .signup__wrapper .signup__tab .signup__alert {
        color: #ff8282;
        font-size: 15px;
        margin-bottom: 5px; }
