.privacy {
  width: 1440px;
  height: 1464px;
  background-color: #647dff;
  margin: 0 auto;
  padding-top: 140px; }
  .privacy .privacy__wrapper {
    width: 1180px;
    height: 1244px;
    background-color: #ffffff;
    box-shadow: 0 20px 20px 0 rgba(65, 77, 107, 0.3);
    margin: 0 auto; }
    .privacy .privacy__wrapper .privacy__tab {
      padding: 80px 160px; }
      .privacy .privacy__wrapper .privacy__tab .privacy__title {
        font-size: 24px;
        color: #647dff; }
      .privacy .privacy__wrapper .privacy__tab .privacy__label {
        font-size: 15px;
        font-weight: normal;
        color: #869ab7;
        margin: 40px 0 10px 0; }
      .privacy .privacy__wrapper .privacy__tab .privacy__input {
        width: 200px;
        height: 50px;
        background-color: #ffffff;
        border: solid 1px #dce2eb;
        padding-left: 10px; }
      .privacy .privacy__wrapper .privacy__tab .privacy__box1 {
        width: 67px;
        height: 50px;
        background-color: #ffffff;
        border: solid 1px #dce2eb; }
      .privacy .privacy__wrapper .privacy__tab .privacy__box2 {
        width: 67px;
        height: 50px;
        background-color: #ffffff;
        border: solid 1px #dce2eb;
        padding-left: 10px; }
      .privacy .privacy__wrapper .privacy__tab .privacy__box3 {
        width: 120px;
        height: 50px;
        background-color: #ffffff;
        border: solid 1px #dce2eb; }
      .privacy .privacy__wrapper .privacy__tab .privacy__box4 {
        width: 100px;
        height: 50px;
        background-color: #ffffff;
        border: solid 1px #dce2eb; }
      .privacy .privacy__wrapper .privacy__tab .privacy__checkbox {
        width: 20px;
        height: 20px; }
      .privacy .privacy__wrapper .privacy__tab .privacy__text {
        font-size: 15px;
        color: #414d6b;
        margin-left: 5px;
        margin-right: 15px; }
      .privacy .privacy__wrapper .privacy__tab .privacy__subtext {
        font-size: 15px;
        color: #869ab7;
        margin-top: 15px; }
      .privacy .privacy__wrapper .privacy__tab .privacy__info {
        font-size: 15px;
        color: #414d6b;
        margin-top: 40px;
        margin-left: 160px; }
      .privacy .privacy__wrapper .privacy__tab .privacy__btn {
        width: 160px;
        height: 50px;
        border-radius: 2px;
        background-color: #4cc8e5;
        border: solid 1px #4cc8e5;
        margin-top: 30px;
        margin-left: 350px; }
        .privacy .privacy__wrapper .privacy__tab .privacy__btn .privacy__btntext {
          font-size: 15px;
          color: #ffffff; }
