.signup {
  width: 1440px;
  height: 1440px;
  background-color: #647dff;
  margin: 0 auto;
  padding-top: 140px; }
  .signup .signup__wrapper {
    width: 1180px;
    height: 1244px;
    background-color: #ffffff;
    box-shadow: 0 20px 20px 0 rgba(65, 77, 107, 0.3);
    margin: 0 auto; }
    .signup .signup__wrapper .signup__tab {
      padding: 80px 160px; }
      .signup .signup__wrapper .signup__tab .privacy__title {
        font-size: 24px;
        color: #647dff; }
      .signup .signup__wrapper .signup__tab .signup__label {
        font-size: 15px;
        font-weight: normal;
        color: #869ab7;
        margin: 40px 0 10px 0; }
      .signup .signup__wrapper .signup__tab .signup__input {
        width: 240px;
        height: 50px;
        background-color: #ffffff;
        border: solid 1px #dce2eb;
        margin-bottom: 20px;
        padding-left: 10px; }
      .signup .signup__wrapper .signup__tab .signup__phone {
        width: 200px;
        height: 50px;
        padding-left: 15px;
        background-color: #ffffff;
        border: solid 1px #dce2eb;
        color: #afc2db;
        border-radius: 0;
        -webkit-appearance: none; }
      .signup .signup__wrapper .signup__tab .signup__box1 {
        width: 120px;
        height: 50px;
        padding-left: 15px;
        background-color: #ffffff;
        border: solid 1px #dce2eb;
        border-radius: 0;
        -webkit-appearance: none;
        color: #afc2db; }
      .signup .signup__wrapper .signup__tab .signup__box2 {
        width: 100px;
        height: 50px;
        margin-left: 10px;
        padding-left: 15px;
        background-color: #ffffff;
        border: solid 1px #dce2eb;
        border-radius: 0;
        -webkit-appearance: none;
        color: #afc2db; }
      .signup .signup__wrapper .signup__tab .signup__button {
        width: 160px;
        height: 50px;
        border-radius: 2px;
        background-color: #4cc8e5;
        border: solid 1px #4cc8e5;
        margin-top: 10px;
        margin-left: 40px; }
        .signup .signup__wrapper .signup__tab .signup__button .signup__btntext {
          color: white; }
