.balance__table {
  width: 1100px;
  text-align: center; }
  .balance__table tr, .balance__table th {
    border: 1px solid black; }
  .balance__table tr {
    height: 30px;
    line-height: 30px;
    vertical-align: middle; }
  .balance__table td {
    height: 30px;
    line-height: 30px;
    vertical-align: middle; }
