.customerInfo__button {
  width: 40px;
  height: 30px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  background-color: #647dff;
  border: solid 1px #647dff; }
  .customerInfo__button:last-child {
    margin-right: 0; }

.customerInfo__openNum {
  width: 80px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  background-color: #647dff;
  border: solid 1px #647dff; }
