.hospitalMenu {
  width: 1200px;
  height: auto;
  color: #414d6b; }
  .hospitalMenu::after {
    display: block;
    content: '';
    clear: both; }
  .hospitalMenu .hospitalMenu__wrapper {
    float: left; }
  .hospitalMenu .hospitalMenu__name {
    font-size: 40px;
    font-weight: bold;
    color: #414d6b;
    margin-top: 80px; }
  .hospitalMenu .hospitalMenu__tab {
    display: inline-block;
    width: 1200px;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    margin: 40px 0; }
    .hospitalMenu .hospitalMenu__tab .hospitalMenu__button {
      font-size: 20px;
      margin-right: 40px;
      color: #414d6b; }
    .hospitalMenu .hospitalMenu__tab .hospitalMenu__button--selected {
      font-weight: bold;
      color: #647dff; }
