.hospitalMenu {
  width: 1200px;
  height: 50px;
  color: #414d6b; }
  .hospitalMenu::after {
    display: block;
    content: '';
    clear: both; }
  .hospitalMenu .hospitalMenu__clear::after {
    display: block;
    content: '';
    clear: both; }
  .hospitalMenu hr {
    float: left;
    width: 1100px;
    margin-top: 20px;
    color: #414d6b; }
  .hospitalMenu .hospitalMenu__wrapper {
    float: left; }
  .hospitalMenu .hospitalMenu__name {
    display: inline-block;
    font-size: 30px;
    font-weight: normal;
    margin-right: 30px; }
  .hospitalMenu .hospitalMenu__tab {
    display: inline-block; }
    .hospitalMenu .hospitalMenu__tab .hospitalMenu__button {
      font-size: 20px;
      margin-right: 20px;
      color: #414d6b; }
    .hospitalMenu .hospitalMenu__tab .hospitalMenu__button--selected {
      color: #647dff; }
