.manageProduct__table {
  width: 1100px;
  text-align: center; }
  .manageProduct__table tr, .manageProduct__table th {
    border: 1px solid black; }
  .manageProduct__table tr {
    height: 30px;
    line-height: 30px;
    vertical-align: middle; }
  .manageProduct__table td {
    height: 30px;
    line-height: 30px;
    vertical-align: middle; }
