.uploadProduct {
  width: 1440px;
  height: 1464px;
  background-color: #647dff;
  margin: 0 auto;
  padding-top: 140px; }
  .uploadProduct .uploadProduct__wrapper {
    width: 1180px;
    height: 1244px;
    background-color: #ffffff;
    box-shadow: 0 20px 20px 0 rgba(65, 77, 107, 0.3);
    margin: 0 auto; }
    .uploadProduct .uploadProduct__wrapper .uploadProduct__tab {
      padding: 80px 160px; }
