.nav {
  width: 1200px;
  height: 90px;
  line-height: 80px;
  vertical-align: middle;
  margin: 0 auto;
  padding-left: 10px; }
  .nav .nav__list {
    color: #414d6b;
    margin-right: 40px;
    font-size: 20px; }
  .nav .nav__list--selected {
    color: #647dff;
    font-weight: bold; }
