.notFound {
  width: 1440px;
  height: 720px;
  background-color: #ffffff;
  margin: 0 auto; }
  .notFound .notFound__logo {
    width: 160px;
    height: 64px;
    margin-top: 210px;
    margin-left: 620px; }
  .notFound .notFound__tab {
    padding: 40px 60px;
    margin-left: 490px; }
    .notFound .notFound__tab .notFound__label {
      font-size: 20px;
      font-weight: normal;
      color: #869ab7;
      margin-bottom: 10px; }
    .notFound .notFound__tab .notFound__label2 {
      font-size: 16px;
      font-weight: normal;
      color: #869ab7; }
  .notFound .notFound__button {
    display: inline-block;
    margin: 15px 0 0 650px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    background-color: #647dff;
    border: solid 1px #647dff; }
