.pagination {
  width: 1180px;
  height: 40px;
  margin: 0 auto;
  text-align: center; }
  .pagination .pagination__btn:first-child {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border: 1px solid #647dff;
    color: #647dff;
    margin: 0 20px;
    text-align: center;
    cursor: pointer; }
  .pagination .pagination__btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border: 1px solid #dce2eb;
    color: #dce2eb;
    margin: 0 20px;
    text-align: center;
    cursor: pointer; }
