.productEntry {
  display: inline-block;
  width: 278px;
  height: 480px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: solid 1px #dce2eb;
  vertical-align: bottom; }
  .productEntry:last-child {
    margin-right: 0; }
  .productEntry .productEntry__link {
    width: 278px;
    height: 278px; }
    .productEntry .productEntry__link .productEntry__img {
      width: 278px;
      height: 278px; }
  .productEntry .productEntry__text {
    padding: 20px; }
    .productEntry .productEntry__text .productEntry__hospital {
      margin-bottom: 20px;
      font-size: 15px;
      color: #647dff; }
    .productEntry .productEntry__text .productEntry__title {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      color: #414d6b; }
    .productEntry .productEntry__text .productEntry__description {
      font-size: 15px;
      color: #414d6b; }
    .productEntry .productEntry__text .productEntry__sales {
      margin-top: 50px; }
      .productEntry .productEntry__text .productEntry__sales .productEntry__purchased {
        float: left;
        margin-top: 10px;
        color: #414d6b;
        font-size: 20px;
        font-weight: bold; }
        .productEntry .productEntry__text .productEntry__sales .productEntry__purchased span {
          color: #647dff; }
      .productEntry .productEntry__text .productEntry__sales .productEntry__price {
        float: right;
        font-size: 30px;
        font-weight: bold;
        text-align: right;
        color: #647dff; }
      .productEntry .productEntry__text .productEntry__sales::after {
        display: block;
        content: '';
        clear: both; }
