.productReserve {
  border: 1px solid #dce2eb;
  margin-top: 10px;
  padding: 10px;
  height: 210px; }
  .productReserve .left {
    float: left; }
    .productReserve .left .productReserve__label {
      padding-bottom: 10px;
      font-size: 15px; }
    .productReserve .left .productReserve__input {
      width: 150px;
      height: 30px;
      background-color: #ffffff;
      border: solid 1px #dce2eb;
      padding-left: 10px;
      margin-bottom: 15px; }
    .productReserve .left .setTime__wrapper span {
      height: 20px;
      line-height: 20px;
      vertical-align: middle;
      padding-right: 5px; }
    .productReserve .left .setTime__wrapper .setTime__button {
      width: 30px;
      height: 20px;
      line-height: 20px;
      vertical-align: middle;
      font-size: 10px;
      font-weight: 300;
      text-align: center;
      padding-left: 8px;
      margin-right: 5px;
      background-color: #ffffff;
      border: solid 1px #dce2eb;
      border-radius: 0px;
      -webkit-appearance: none; }
  .productReserve .right {
    float: right;
    padding-top: 70px;
    padding-right: 10px; }
    .productReserve .right button {
      width: 100px;
      height: 40px;
      margin: 75px 6px;
      border: 1px solid #647dff;
      color: white;
      background-color: #647dff; }
  .productReserve::after {
    display: block;
    content: "";
    clear: both; }
