.reviewBoard {
  width: 1200px;
  height: 110px;
  background-color: #ffffff; }
  .reviewBoard .reviewBoard__name {
    width: 1000px;
    height: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #414d6b; }
  .reviewBoard .reviewBoard__menu {
    width: 100px;
    height: 15px;
    font-size: 15px;
    line-height: 1;
    color: #647dff;
    margin-top: 10px; }
  .reviewBoard .reviewBoard__content {
    width: 1180px;
    height: 25px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.67;
    color: #414d6b;
    margin-top: 20px; }
  .reviewBoard hr {
    margin-top: 30px;
    border: 0.5px solid #869ab7; }
