.reserve__table {
  width: 1200px;
  text-align: left;
  font-size: 10px;

  tr {
    border: solid 1px #dce2eb;
    width: 1200px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    th {
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
      padding-left: 20px;
      font-size: 12px;
      font-weight: normal;
      color: #afc2db;
      background-color: #f7f8fb;
    }
  }

  td {
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 15px;
    color: #495057;
  }

}

.customerInfo__button1 {
  width: 40px;
  height: 25px;
  font-size: 12px;
  color: #ffffff;
  border-radius: 2px;
  border: solid 1px #647dff;
  background-color: #647dff;
  margin-right: 4px;
}

.customerInfo__button2 {
  width: 40px;
  height: 25px;
  font-size: 12px;
  text-align: center;
  color: #647dff;
  background-color: #ffffff;
  border-radius: 2px;
  border: solid 1px #647dff;
}